* {
	margin: 0;
	padding: 0;
}

i,
em {
	font-style: normal;
}

 
strong {
	font-weight: 100;
}

input {
	float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li,
ol,
li {
	list-style: none;
}

body,
html {
	width: 100%;
	float: left;
	font-size: 14px;
	height: 100%;
	min-height: 100%;
	background: #eff3f6;
}
.main {
	width: 100%;
	float: left;
}
.imap-term {
	float: left;
	width: 100%;
	padding-left: 100px;
	margin-top: 30px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.imap-item {
	height: 40px;
	float: left;
	padding:0 10px;
	margin-right: 20px;
	background: #fff;
	border: 1px solid #0f423d;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #dfe2e7;
	border: 1px solid #fff;
	cursor: pointer;
	box-sizing: border-box;
}

.imap-item span {
	float: left;
	line-height: 40px;
	font-size: 14px;
	color: #9aa3ae;
}
.imap-item select {
	float: left;
	height: 24px;
	line-height: 24px;
	margin: 6px 0 0 0;
	cursor: pointer;
	color: #28303e;
	padding: 0 10px;
	border: 1px solid #0f423d;
	border: none;
    outline: none;
}
#but {
	height: 40px;
	float: left;
	padding: 0 25px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #5EB7EF;
	border-radius: 8px;
	border: 1px solid #b8ede8;
	box-shadow: 5px 5px 10px #86cefb;
}
.f-btn{
	float: left;
	margin-left: 27%;
}
.btn-edit{
	height: 40px;
	padding: 0 10px;
	margin-right: 5px;
	font-size: 14px;
	color: #5EB7EF;
	float: left;
	line-height: 40px;
	background: #fff;
	border: 1px solid #0f423d;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #dfe2e7;
	border: 1px solid #fff;
	cursor: pointer;
	box-sizing: border-box;
}
.btn-edit img{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}
.imap-term .imap-find:active {
	background: #80eee4;
}
#container {
	width: 100%;
	height: 100vh;
}